@page
@model TatooStoreGeneral.Pages.CustomerPages.AboutUsModel
@{
    ViewData["NavNumber"] = "5";
}

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-10 col-md-10 col-lg-10">
            <h2>О нас</h2>
            <img src="/Files/AboutUs/about_us.png" class="d-block w-100">
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">        
        <div class="col-sm-10 col-md-10 col-lg-10 text-white">
            <div class="background">
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <p class="text-start myMargin font-weight-bold">Мы предоставляем тату-оборудование как для начинающих мастеров,
                        так и для тех, кто уже имеет опыт в работе с татуировкой. 
                        <span class="colorText">Наш магазин</span> 
                        постоянно формирует и обновляет комплекты тату-оборудования, которые упрощают задачи в поиске необходимого оборудования
                        и подготовке рабочего места. <span class="colorText">Мы стремимся</span> развивать мир татуировки и дать возможность
                        научиться этому интересному, но непростому делу!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


